.hidden {
    display: none;
}

.hem {
    height: 1em;
}

.center {
    text-align: center;
}

.mt25 {
    margin-top: 25px;
}

.mt50 {
    margin-top: 50px;
}

header, article, footer {
    margin-top: 25px; margin-bottom: 25px;
}

footer p {
    font-size: 80%;
}

input#originalLink {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
