.hidden {
    display: none;
}

.hem {
    height: 1em;
}

.center {
    text-align: center;
}

.mt25 {
    margin-top: 25px;
}

.mt50 {
    margin-top: 50px;
}

body {
    margin-top: 25px;
    margin-bottom: 25px;
}

div.info p {
    font-size: 80%;
}

input#originalLink {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #4f7cac;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light dark;
    }
      
    body {
        color: #eeeeee;
        background: #222222;
    }

    input {
        color: white !important;
        background-color: #505050 !important;
    }

    .text-black-50 {
        color: #474747 !important;
    }
}
